@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #F0F0F0;
    color: #000000;
    perspective: 1000px;
}

.slide-container {
    display: flex;
    flex-direction: row;
    overflow-x: hidden; /* スクロールを無効に */
    width: 100vw;
    height: 100vh;
}

.slide {
    min-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.slide3D {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: transform 0.2s;
}

.slide3D:hover {
    transform: rotateY(10deg); /* ホバー時の回転を減少 */
}

.content-container {
    display: flex; /* 横並びにする */
    justify-content: space-between; /* 空間を均等に分配 */
    align-items: center; /* 垂直方向で中央揃え */
    width: 100%; /* 幅を100%に */
}

.left-content {
    flex: 1; /* 左側のコンテンツが残りのスペースを占有 */
    padding: 20px; /* 内側の余白 */
}

.right-content {
    flex: 1; /* 右側のコンテンツが残りのスペースを占有 */
    display: flex;
    justify-content: center; /* 画像を中央に配置 */
    align-items: center;
}

.right-content img {
    max-width: 80%; /* 画像の最大幅を100%に */
    height: auto; /* 高さを自動調整 */
}

.icon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px; /* 円の間隔を調整 */
}

.rotate {
    animation: rotate 60s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

h1 {
    font-family: "Paytone One";
    color: #CCB7DD;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-size: 40px; /* フォントサイズを調整 */
    line-height: 50px; /* 行の高さを調整 */
    text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px #fff;
    transition: color 0.3s ease;
}

h1:hover {
    color: #FF6F6F;
}

h2 {
    color: #ECC3C3;
    font-size: 1.5rem; /* フォントサイズを調整 */
}

p {
    color: #324B57;
    font-size: 1rem; /* フォントサイズを調整 */
    transition: background-color 0.3s, transform 0.3s;
    padding: 5px;
    border-radius: 5px;
}

p:hover {
    background-color: #b4c5e4;
    transform: scale(1.05);
}

.navigation {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

a.button {
    display: inline-block;
    color: #ffffff;
    background-color: #FDD835;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

a.button:hover {
    background-color: #FF6F6F;
    transform: scale(1.1);
}

textPath {
    font-size: 30px; /* フォントサイズを調整 */
    font-family: 'Glory', sans-serif;
    transition: fill 0.3s;
}

textPath:hover {
    fill: #FF6F6F;
}

.color-red {
    fill: red;
}
